<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- 디렉티브: v-**라고 붙는 것들 -->
        <p v-bind:id="uuid">{{ num }}</p>
        <p v-bind:class="name">{{ doubleNum }}</p>
        <div v-if="loading">Loading</div>
        <div v-else>teat user has been logged in</div>
        <!-- display: none -->
        <div v-show="loading">Loading</div>
        <input type="text" v-model="message">
        <p>{{ message }}</p>
        <input type="checkbox" value="asd" v-model="asd">
        <p>{{ asd }}</p>
    </div>
    <!-- 데이터 바인딩 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                num: 10,
                // doubleNum: 10 * 2
                uuid: 'abc1234',
                name: 'text-blue',
                loading: true,
                message: '',
                asd: []
            },
            // 데이터의 값에 따라서 바뀌는 값을 정의 할때 사용 ( 계산된 속성 )
            computed: {
                doubleNum: function(){
                    return this.num * 2;
                }
            }

        });
    </script>
</body>
</html>